body {
  background-color: #333; /* Fondo oscuro */
  font-family: monospace;
  display: inline-block;
}

h2,h3,h4{
  color:#dc3545;
}
.img-fluid{
  position:absolute;
  margin-top: 20px;

}
.navbar{
  background-color: #dc3545 !important; /* Fondo rojo para el navbar */
}
.nav-link, .navbar-brand {
  color: #dc3545 !important; 
  font-size: larger;
}
.navbar-toggler.collapsed{
  border-color:#dc3545;
  background-color: rgb(250, 215, 215);
}
.navbar-toggler{
  border-color:#dc3545;
  background-color: rgb(250, 215, 215);
}

.btn-danger {
  background-color: #dc3545; /* Fondo rojo para los botones */
  border-color: #dc3545; /* Borde rojo para los botones */
  box-shadow: #f4cfb6 3px 4px 2px 3px;

}
.btn-danger:hover {
  background-color: #c82333; /* Color de fondo más oscuro al pasar el ratón */
  border-color: #bd2130; /* Color de borde más oscuro al pasar el ratón */
}
.carousel-item img {
  height: 700px; /* Tamaño de las imágenes del carousel */
  width: 1000px;
}
.toggleButton {
  cursor: pointer;
}
.carousel-control-prev, .carousel-control-next {
  color: #dc3545; /* Color de las flechas del carousel */
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  color: #c82333; /* Color de las flechas más oscuro al pasar el ratón */
}

#maparanjuez {
  /* width: 100%;
  height: 600px; */
}
/* Estilos adicionales para las instrucciones */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;

}
h1, h2 {
  color: #dc3545;
}
p {
  font-size: 18px;
}
.instrucciones-list li, p {
  color: black;
}
.navbar-brand{
font-size: 30px;
font-family: fantasy;
}
h2{
 text-decoration: underline;
}
.nav-link{
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}
#footer p{
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  color: #dc3546;
}
/* Estilos adicionales para el botón "¡JUGAR AHORA!" */
#playButton {
  color: white; /* Cambia el color del texto del botón */
  border-radius: 10px; /* Agrega esquinas redondeadas al botón */
}

/* Estilos adicionales para el mapa del juego */
#maparanjuez {
  max-width: 100%; /* Hace que el mapa se ajuste al ancho del contenedor */
  height: auto; /* Mantiene la proporción de aspecto del mapa */
  border: 2px solid #dc3545; /* Agrega un borde al mapa */
}

/* Estilos adicionales para el botón de descarga del mapa */
#descargarMapa .btn {
  color: white; /* Cambia el color del texto del botón de descarga */
  border-radius: 5px; /* Agrega esquinas redondeadas al botón de descarga */
  margin-top: 10px; /* Añade un margen superior al botón de descarga */
}
.animate__flipInY{
  animation-duration: 5s;
}
.animate__zoomIn {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media (max-width: 576px) {
  .img-fluid {
    opacity: 0.2; /* 50% de opacidad */;
  }
  .carousel-item img {
    height: auto; /* Hace que la altura se ajuste automáticamente */
    width: 100%; /* Hace que la imagen ocupe todo el ancho del carousel */
  }
  body{
    margin-left: 2px; /* Margen izquierdo automático */
    margin-right: 2px; /* Margen derecho automático */
  }
  #section-footer{
    padding: 0%;
    font-size: smaller;
    padding: 0em;
  }

}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


@keyframes infiniteZoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

